[user]
	name = Ryan Cromwell
	email = ryan@heysparkbox.com
[alias]
	st = status
	co = checkout
	cm = commit
	cia = commit --amend -C HEAD
	a = add -p .
	b = branch
  pom = push origin master
	hist = !git --no-pager log -n 20 --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  remove = remote
  fa = fetch --all
  ff = merge --ff-only
  noff = merge --no-ff

[core]
	excludesfile = /Users/ryan/.gitignore_global
	editor = /usr/local/bin/vim
[init]
	templatedir = ~/.git_template
[commit]
	template = /Users/ryan/.gitmessage.txt
[credential]
	helper = cache --timeout=1800
[github]
	user = cromwellryan
[push]
	default = simple
