[user]
  name = Ryan Cromwell
  email = rcromwell@salesforce.com
  signingkey = B745694D

[alias]
  st = status
  co = checkout
  cm = commit
  cia = commit --amend -C HEAD
  a = add -p .
  b = branch
  hist = !git --no-pager log -n 20 --pretty=format:\"%C(yellow)%h%C(reset) %C(green)%ad%C(reset) %C(red)|%C(reset) %s%C(red)%d %C(reset)- %an%C(reset)\" --graph --date=short
  remove = remote
  fa = fetch --all
  mf = merge --ff-only
  noff = merge --no-ff
  up = pull --rebase && remote update origin --prune

  ghprs = "!f() { remote=$1; : ${remote:=$(git remote | grep '^origin\\|upstream$' | sort --reverse | head -1)}; if [ $remote ]; then git config --add remote.$remote.fetch +refs/pull/*/head:refs/remotes/${remote}/pr/*; echo \"added github PR refspec to fetch from ${remote}\" ; else echo 'no remote given nor upstream or origin remote'; fi; git fetch ${remote}; }; f"

  url =! bash -c 'git config --get remote.origin.url | sed -E "s/.+:\\(.+\\)\\.git$/https:\\\\/\\\\/github\\\\.com\\\\/\\\\1/g"'

[core]
  excludesfile = ~/.gitignore
  editor = /usr/local/bin/vim
[commit]
  template = ~/.gitmessage.txt
  gpgsign = true
[credential]
	helper = osxkeychain
[github]
  user = cromwellryan
[push]
  default = simple
[pull]
  rebase = true
[pager]
	branch = false
	tag = false
[init]
	defaultBranch = main
