[user]
	name = Ryan Cromwell
	email = ryan@echelontouch.com
[github]
	user = cromwellryan
	token = 7cccf74d614c5247a99fa2c22ab896fd
[alias]
	st = status
	co = checkout
	cm = commit
	cia = commit --amend -C HEAD
	a = add -p .
	b = branch
	pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  po = push origin master
	hist = log -n 20 --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  remove = remote

[core]
	excludesfile = /Users/ryan/.gitignore_global
	editor = /usr/local/bin/vim
[credential]
	helper = cache
[init]
	templatedir = ~/.git_template
[push]
	default = matching
[commit]
	template = /Users/ryan/.gitmessage.txt
[git-up "bundler"]
	check = true
